/* jquery.Jcrop.css v0.9.10 - MIT License */

/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
.jcrop-holder {
  direction: ltr;
  text-align: left;
}

/* These styles define the border lines */
.jcrop-vline,.jcrop-hline{background:#FFF url(../../bundles/likemesystem/jcrop/css/Jcrop.gif) top left repeat;font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-vline.right{right:0;}
.jcrop-hline.bottom{bottom:0;}

/* Handle style - size is set by Jcrop handleSize option (currently) */
.jcrop-handle{background-color:#333;border:1px #eee solid;font-size:1px;}

/* This style is used for invisible click targets */
.jcrop-tracker
{
  height: 100%; 
  width: 100%;
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-user-select: none;                /* disable cut copy paste */
}

/* Positioning of handles and drag bars */
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}

/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline
{
	background:#FFF;
	filter:Alpha(opacity=70)!important;
	opacity:.70!important;
}
.jcrop-light .jcrop-handle
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#000;
	border-color:#FFF;
	border-radius:3px;
}

/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline
{
	background:#000;
	filter:Alpha(opacity=70)!important;
	opacity:.7!important;
}
.jcrop-dark .jcrop-handle
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#FFF;
	border-color:#000;
	border-radius:3px;
}

/* Fix for twitter bootstrap et al. */
.jcrop-holder img,img.jcrop-preview{ max-width: none; }

.tip-twitter {
	box-shadow: 0px 0px 5px 1px #bbbbbb;
	z-index:1000;
	text-align:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	padding:8px 8px;
	color:#fff;
	background-color:#fff;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-twitter .tip-inner {
	font:bold 11px/14px 'Lucida Grande',sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-twitter .tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(../../bundles/likemesystem/poshytip/tip-twitter/tip-twitter_arrows.gif) no-repeat;
}
.tip-twitter .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(../../bundles/likemesystem/poshytip/tip-twitter/tip-twitter_arrows.gif) no-repeat -9px 0;
}
.tip-twitter .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(../../bundles/likemesystem/poshytip/tip-twitter/tip-twitter_arrows.gif) no-repeat -18px 0;
}
.tip-twitter .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(../../bundles/likemesystem/poshytip/tip-twitter/tip-twitter_arrows.gif) no-repeat -27px 0;
}
.tip-green {
	opacity:0.8;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:16px 16px;
	max-width:200px;
	color:#fff;
	background-color:#000;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-green .tip-inner {
	font: 14px/16px 'Ubuntu',sans-serif;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-green .tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(../../bundles/likemesystem/poshytip/tip-green/tip-green_arrows.gif) no-repeat;
}
.tip-green .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(../../bundles/likemesystem/poshytip/tip-green/tip-green_arrows.gif) no-repeat -9px 0;
}
.tip-green .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(../../bundles/likemesystem/poshytip/tip-green/tip-green_arrows.gif) no-repeat -18px 0;
}
.tip-green .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(../../bundles/likemesystem/poshytip/tip-green/tip-green_arrows.gif) no-repeat -27px 0;
}
#view_selected {
	font-size:11px;
	text-align:left;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	background:#FFFFFF url(../../bundles/likemesystem/images/fcbklistselection/multi_selector_bg.gif) repeat-x scroll center top;		
}


#fcbklist 
{
	font-size:11px;
	border-color: #C1C1C1;
	border-style:none solid solid;
	border-width:medium 1px 1px;
    /* height:400px;	 */
	list-style-type:none;
	margin:0pt;
	overflow:auto;
	padding:0pt;
	z-index:1;
}
#filters {
	border-bottom:1px solid #C1C1C1;
	padding:4px 0pt 0pt;
	zoom:1;
}
#filters .selections {
	float:left;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#filters .selections li.view_on {
	background:#FFFFFF url(../../bundles/likemesystem/images/fcbklistselection/multi_selector_bg.gif) repeat-x scroll center top;	
}
#filters .selections li {
	float:left;
	padding:4px 7px;
	text-align:center;
	width:100px;
}
#filters .selections li a{
	color:#3B5998;
	text-decoration:none;
}
#fcbklist li {
	background-color:#F7F7F7;
	border:1px solid #D8DFEA;
	display:block;
	float:left;
	list-style-image:none;
	list-style-type:none;
	margin:2px;
	padding:2px;	
}
#fcbklist .fcbklist_item 
{
	background-color:#FFFFFF;
	clear:both;
	position:relative;
	height:50px;
	overflow:hidden;
	vertical-align: middle;
	text-align: center;
}
#fcbklist .itemover 
{
	background-color:#F7F7F7 !important;
}
#fcbklist .liselected 
{
	border:1px solid #149525 !important;
	background-color:#D7F8AC !important;
}
#fcbklist .itemselected 
{
	background-color:#D7F8AC !important;
	background-image: url(../../bundles/likemesystem/images/fcbklistselection/checked.png);
	background-repeat:no-repeat;
	background-position:right bottom;	
	z-index:10;
}
#fcbklist strong {
    color: #222222;
    font-size: 11px;
    line-height: 18px;
    vertical-align: top;
    width: 65px;
}
.clearer 
{
	clear:both;
	height:1px;
	font-size:1px;
}