{% extends 'LikemeSystemBundle::layout.html.twig' %}


{% block head %}Pictures{% endblock %}

{% block fos_user_content %}

	<h1>Cropping</h1>
	
	{% for photo in savedpictures %}
			 	<img src="{{ photo.src }}" height="120px" align="middle" /><br></span>
	{% endfor %} 

	 {% block javascripts %}
	    
	    	{% javascripts 
	    	'@LikemeSystemBundle/Resources/public/js/jquery-1.8.0.js'
	    	'@LikemeSystemBundle/Resources/public/js/selectphotos.js'
	    	'@LikemeSystemBundle/Resources/public/js/jquery-ui-1.8.23.js'
	    	'@LikemeSystemBundle/Resources/public/photoselector/photoselector.js'
	    	output='web/bundles/likemesystem/compiled/base.js'
	    	%}
	    	
	    	<script type="text/javascript" src="{{ asset_url }}"></script>
	    	
	    	{% endjavascripts %}
	    	
	{% endblock %}
	

			


{% endblock fos_user_content %}
