{% extends 'LikemeSystemBundle::layout.html.twig' %}

{% set user = app.user %}

{%block fos_user_content%}

			<div id="main">
				<div class="box-top">{% block title %}Home{% endblock %}</div>
				<div class="box-bottom">
					Limit pro Tag erreicht!
				</div>
			</div>
	
{% endblock fos_user_content %}

{%block sider %}
	{% include 'LikemeSystemBundle:Sider:sider.html.twig' %}
{%endblock sider %}
