{% extends 'LikemeSystemBundle::layout.html.twig' %}

{%block fos_user_content%}


				<div class="box-bottom welcome" style="width:860px;">
					<h2>Wilkommen auf likeme.ch!</h2>
					<p>Der einfachsten Platform um neue Personen <br>kennenzulernen, <strong>kostenlos!</strong></p>
					<div class="welcome-login"><p>Melde dich jetzt ganz <strong>bequem</strong> <br>und einfach über <strong>Facebook</strong> an!</p></div>
				</div>
				
				<div style="margin:100px auto; text-align:center; font-size:24px; font-weight:300"><h3>wie funktioniert likeme... ?<br><br>.</h3></div>
	
	{% image '@LikemeSystemBundle/Resources/public/images/welcome-likeme.png' output='/Resources/images/welcome-likeme.png' %} <img src="{{ asset_url }}" alt="likeme"/> {% endimage %}
{% endblock fos_user_content %}


