*{margin:0;padding:0;}

img, img a
{
border:none;
border-radius:5px;
}

body
{
color: #333;
font-family: 'Ubuntu', sans-serif;
font-size:16px; 
background: #EFEFEF;
}

#container
{
width:900px;
margin:0 auto 0 auto;
}

#header
{
width:860px;
height:60px;
padding:0 20px;
border:1px solid #ccc;
border-radius: 0 0 5px 5px;
background-color:#fff;
line-height:60px;
font-size:28px;
font-weight:500;
position:relative;
}

#menu-top
{

float:right;
font-size:14px;

}

#menu ul
{
list-style-type: none;
}

.borbo
{
position:absolute;
background:#fff;
border:1px solid #ccc;
border-radius:5px;
height:10px;
width:900px;
z-index:-10;
}

#content
{
margin-top:20px;
}

#main
{
width:580px;
float:left;
margin-right:20px;
}

#sider
{
width:300px;
float:left;
}

.box
{
padding:20px;
background-color:#fff;
border:1px solid #ccc;
border-radius:5px;
margin-bottom:20px;
}

.box-top
{
padding:0 20px;
line-height:40px;
background: rgb(250,250,250); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(250,250,250,1) 77%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(77%,rgba(250,250,250,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 77%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,250,250,1) 77%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,250,250,1) 77%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(250,250,250,1) 77%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
border:1px solid #ccc;
border-bottom:none;
border-radius:5px 5px 0 0;
font-weight:500;
}

.box-bottom
{
padding:20px;
background-color:#fff;
border:1px solid #ccc;
border-radius:0 0 5px 5px;
margin-bottom:20px;
}


.likepic
{
height:400px;
width:400px;
margin:0 18px 0 0;
clear:both;
float:left;
position:relative;
border-radius:5px;
}

.likepic:before
{
border-radius:5px;
border:1px solid #CCCCCC;
content: '';
width:398px;
height:398px;
position:absolute;
}

.likepic:after
{
border-radius:5px;
border:1px solid #ffffff;
content: '';
left: 1px; top: 1px;
width:396px;
height:396px;
position:absolute;
}

.likepic-sm
{
width:120px;
height:120px;
float:left;
border-radius:5px;
padding:0;
position:relative;
}

.likepic-sm:before
{
border:1px solid #CCCCCC;
content: '';
position:absolute;
width:118px;
height:118px;
float:left;
border-radius:5px;
padding:0;
}

.likepic-sm:after
{
border:1px solid #ffffff;
content: '';
left: 1px; top: 1px;
position:absolute;
width:116px;
height:116px;
float:left;
border-radius:5px;
padding:0;
}

.likeinfo
{
position:absolute;
height:40px;
line-height:40px;
background-color: rgba(0, 0, 0, 0.3);
color:#fff;
padding-left:15px;
bottom:2px;
left:2px;
border-radius:0 0 5px 5px;;
width:381px;

}

.clear
{
clear:both;
}

input
{
border-radius:5px;
border:1px solid #ccc;
font-size:14px;
width:235px;
height:30px;
line-height:30px;
padding: 0 10px;
box-shadow: 0 5px 3px #EEEEEE inset;
margin-bottom:10px;
}

#about textarea
{
font-size:14px;
font-family: 'Ubuntu', sans-serif;
margin-top:10px;
width:518px;
max-width:518px!important;
min-width:518px!important;
height:100px;
max-height:100px!important;
min-height:100px!important;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
box-shadow: 0 5px 3px #EEEEEE inset;
}

.save
{
font-size:11px;
float:right;
}

.save a
{
padding:4px;
color:#000;
font-weight:500;
border-radius:3px;
background: rgb(157,213,58); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
text-shadow: 0 1px 1px #deffe2;

text-decoration:none;
background-color
}

.save a:hover
{
opacity: 0.8;
}

.profileinfo
{

width:260px;
float:left;
border-bottom:1px dotted #ccc;

}